.about-inner {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .about-inner {
    flex-direction: column;
  }
}

#personal {
  width: 21%;
}

#personal img {
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgb(14 83 109 / 25%);
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #personal {
    width: 100%;
  }
  #personal img {
    width: 245px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

#personal .top-txt {
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

#personal h2 {
  letter-spacing: 0.28em;
}

#personal .birthday span {
  text-indent: 0.5em;
}

#personal dt {
  position: relative;
  padding-top: 20px;
}

#personal dt .number {
  font-size: 30px;
  font-family: ab-omusubi, sans-serif;
  position: absolute;
  top: 14px;
  z-index: 3;
}

#personal dt .personal_ttl {
  font-size: 18px;
  font-weight: 500;
  padding-left: 50px;
}

#personal dt::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-top: 2px solid #0e536d;
  border-right: 2px solid #0e536d;
  border-bottom: 2px solid #0e536d;
  border-left: 2px solid transparent;
  border-radius: 50%;
  transform: rotate(18deg);
  position: absolute;
  top: 15px;
  left: 1px;
  z-index: 2;
}

#personal dt::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f6b7aa;
  position: absolute;
  top: 22px;
  left: 8px;
  z-index: 1;
}

#personal dd {
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(14, 83, 109, 0.2);
}

#career {
  width: 70%;
}

@media (max-width: 767px) {
  #career {
    width: 100%;
  }
}

#career h2 {
  outline: 2px solid #0e536d;
  outline-offset: 3px;
  background-color: #f6b7aa;
  border-radius: 5px;
  padding: 12px;
  margin-top: 250px;
  position: relative;
}

@media (max-width: 767px) {
  #career h2 {
    margin-top: 46px;
  }
}

#career h2::before {
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  background-color: #fae06a;
  border-right: 2px solid #0e536d;
  position: absolute;
  top: calc(100% + 2px);
  left: 97px;
}

#career h2 span {
  padding-left: 30px;
}

#career h2 span::before,
#career h2 span::after {
  content: "";
  display: block;
  width: 16px;
  height: 3px;
  background-color: #0e536d;
  position: absolute;
  top: 34px;
}

#career h2 span::before {
  left: 72px;
}

#career h2 span::after {
  left: 174px;
}

#career ul {
  position: relative;
}

#career ul::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #0e536d;
  position: absolute;
  left: 112px;
}

#career li {
  padding-top: 20px;
}

#career li:nth-child(1) {
  padding-top: 0px;
  margin-top: 20px;
}

#career li dl {
  display: flex;
  gap: 80px;
}

@media (max-width: 767px) {
  #career li dl {
    gap: 70px;
  }
}

#career li dt {
  font-family: ab-omusubi, sans-serif;
  font-size: 36px;
  position: relative;
}

#career li dt::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f6b7aa;
  position: absolute;
  top: 6px;
  left: 100px;
}

#career li dt::before {
  border: 2px solid #0e536d;
  top: 6px;
  left: 100px;
}

#career li dt span {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 45px;
  position: absolute;
  top: 30px;
}

#career li dd {
  width: 450px;
  font-size: 14px;
}

#career li dd span {
  font-size: 20px;
  font-weight: 500;
}

#skill {
  padding: 100px 0px 120px 0px;
}

#skill h2 {
  font-family: ab-omusubi, sans-serif;
  font-size: 60px;
  text-align: center;
}

#skill .skill_inner {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}

@media (max-width: 767px) {
  #skill .skill_inner {
    flex-wrap: wrap;
  }
}

/*#skill .fadeInUpTrigger {
  opacity: 0;
}*/

#skill .skill_item {
  width: 150px;
  position: relative;
}

#skill .skill_item svg {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
  position: relative;
}

#skill .skill_item circle {
  fill: none;
  stroke-width: 10;
  stroke: #fff;
  stroke-linecap: round;
  position: relative;
}

#skill .skill_item .line {
  stroke: #0e536d;
  animation: circleAnim 3s forwards;
}

@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 440;
  }
  99.9%,
  to {
    stroke-dasharray: 440 440;
  }
}

#skill .skill_item01 .line {
  stroke-dashoffset: 132px;
}

#skill .skill_item02 .line {
  stroke-dashoffset: 132px;
}

#skill .skill_item03 .line {
  stroke-dashoffset: 264px;
}

#skill .skill_item04 .line {
  stroke-dashoffset: 132px;
}

#skill .skill_item05 .line {
  stroke-dashoffset: 220px;
}

#skill .skill_item06 .line {
  stroke-dashoffset: 88px;
}

#skill .skill_item .skill_ttl {
  width: 100%;
  height: 100%;
  font-family: ab-omusubi, sans-serif;
  font-size: 44px;
  color: #0e536d;
  text-align: center;
  position: absolute;
  top: 52px;
}
