#wrap {
  max-width: 1024px;
  width: 100%;
  padding: 84px 0px;
  margin: 0 auto;
}

#main {
  display: flex;
  justify-content: space-evenly;
}

#personal {
  width: 200px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

#personal h2 {
  letter-spacing: 0.28em;
}

#personal .birthday span {
  text-indent: 0.5em;
}

#personal dt {
  position: relative;
  padding-top: 20px;
}

#personal dt .number {
  font-size: 30px;
  font-family: ab-omusubi, sans-serif;
  position: absolute;
  top: 6px;
  z-index: 3;
}

#personal dt .personal_ttl {
  font-weight: 500;
  padding-left: 40px;
}

#personal dt::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-top: 2px solid #0e536d;
  border-right: 2px solid #0e536d;
  border-bottom: 2px solid #0e536d;
  border-left: 2px solid transparent;
  border-radius: 50%;
  transform: rotate(18deg);
  position: absolute;
  top: 6px;
  left: 1px;
  z-index: 2;
}

#personal dt::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f6b7aa;
  position: absolute;
  top: 12px;
  left: 8px;
  z-index: 1;
}

#personal dd {
  font-size: 14px;
  padding-top: 6px;
}

#career {
  width: 600px;
}
#career h2 {
  outline: 2px solid #0e536d;
  outline-offset: 3px;
  background-color: #f6b7aa;
  border-radius: 5px;
  padding: 12px;
  margin-top: 186px;
  position: relative;
}

#career h2::before {
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  background-color: #fae06a;
  border-right: 2px solid #0e536d;
  position: absolute;
  top: calc(100% + 2px);
  left: 97px;
}

#career h2 span {
  padding-left: 30px;
}

#career h2 span::before,
#career h2 span::after {
  content: "";
  display: block;
  width: 16px;
  height: 3px;
  background-color: #0e536d;
  position: absolute;
  top: 34px;
}

#career h2 span::before {
  left: 72px;
}

#career h2 span::after {
  left: 174px;
}

#career ul {
  position: relative;
}

#career ul::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #0e536d;
  position: absolute;
  left: 112px;
}

#career li {
  padding-top: 20px;
}

#career li:nth-child(1) {
  padding-top: 0px;
  margin-top: 20px;
}

#career li dl {
  display: flex;
  justify-content: space-between;
}

#career li dt {
  font-family: ab-omusubi, sans-serif;
  font-size: 36px;
  position: relative;
}

#career li dt::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f6b7aa;
  position: absolute;
  top: 6px;
  left: 100px;
}

#career li dt::before {
  border: 2px solid #0e536d;
  top: 6px;
  left: 100px;
}

#career li dt span {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 45px;
  position: absolute;
  top: 30px;
}

#career li dd {
  width: 450px;
  font-size: 14px;
}

#career li dd span {
  font-size: 20px;
  font-weight: 500;
}

#skill {
  padding-top: 100px;
}

#skill h2 {
  font-family: ab-omusubi, sans-serif;
  font-size: 60px;
  text-align: center;
}

#skill .skill_inner {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

/*#skill .fadeInUpTrigger {
  opacity: 0;
}*/

#skill .skill_item {
  width: 150px;
  position: relative;
}

#skill .skill_item svg {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
  position: relative;
}

#skill .skill_item circle {
  fill: none;
  stroke-width: 10;
  stroke: #fff;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  position: relative;
}

#skill .skill_item .line {
  /* stroke-dashoffset: calc(440 - (440 * 88) / 100); */
  stroke: #0e536d;
  animation: circleAnim 3s forwards;
}

@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 440;
  }
  99.9%,
  to {
    stroke-dasharray: 440 440;
  }
}

#skill .skill_item01 .line {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

#skill .skill_item02 .line {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

#skill .skill_item03 .line {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
}

#skill .skill_item04 .line {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

#skill .skill_item05 .line {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
}

#skill .skill_item06 .line {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

#skill .skill_item .skill_ttl {
  width: 100%;
  height: 100%;
  font-family: ab-omusubi, sans-serif;
  font-size: 44px;
  color: #0e536d;
  text-align: center;
  position: absolute;
  top: 52px;
}

@media screen and (max-width: 1024px) {
  #wrap {
    max-width: 1024px;
    width: 100%;
  }
  #career {
    width: 60%;
  }

  #career li dd {
    width: 65%;
  }

  #career h2::before {
    left: 22%;
  }

  #career ul::before {
    left: calc(22% + 15px);
  }

  #career li dt {
    width: 14%;
  }

  #career li dt::before {
    width: 16px;
    height: 16px;
    top: 9px;
    left: 167%;
  }

  #skill {
    display: block;
  }

  #skill .skill_inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 599px) {
  #wrap {
    max-width: 599px;
    width: 100%;
    padding-bottom: 110px;
  }

  #main {
    display: block;
  }

  #personal {
    width: 100%;
  }

  #personal img {
    width: 250px;
    display: block;
    margin: 0 auto;
  }

  #personal h2,
  #personal p {
    text-align: center;
  }

  #personal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #personal li {
    width: 45%;
  }

  #career {
    width: 90%;
    margin: 0 auto;
  }

  #career h2 {
    margin-top: 60px;
  }
  #career li dt::before {
    left: 170%;
  }
}
